body
		{
			background: #7E7B33;
		}
		.all
		{
			position: absolute;
			top: 10%;
			left: 10%;
			width: 60%;
			/*background-image: linear-gradient(-90deg,#7D771C,#0CD7F6 );*/
			background: #100F67;
			
		}
		.container
		{
			position: relative;
			top: 10%;
			width: 90%;
			padding: 10px;
			margin: 10px auto;
			/*background-image: linear-gradient(-90deg,#7D771C,#08C0F3 );*/
			background: #1F688A;
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.box
		{
			padding: 5px;
			width: 250px;
			height: 50px;
			align-content: center;
			background: none;
			margin: 0px;
			transition: .1s;
			text-align: center;
		}
		.button
		{
		width: 200px;
			height: 30px;
			align-content: center;
			background:none;
			margin: 10px;
			transition: .1s;
			text-align: center;	

		}
		#submit,#cancel,#update
		{
			width: 100%;
			height: 30px;
			border-radius: 15px;
			border-width: 0;

		}
		#submit:hover,#cancel:hover,#update:hover
		{
			transform: scale(1.1);
			z-index: 2;
			font-weight: bolder;
		}
		#submit
		{
			background-color: #08F60F;
		}
		#cancel
		{
			background-color: #FD072C;
		}
		#update
		{
			background-color: #0769FD;
		}
		.block
		{
			
			position: relative;
			top: 10%;
			width: 90%;
			padding: 10px;
			margin: 10px auto;
			background: #0E6157;
			display: flex;
			flex-direction: row;
			justify-content: center; 
		}
		.inb
		{
			border width: 1px solid #CD4FB8;
			text-align: center;
			width: 90%;
			height: 60%;
			font-family: timesnewroman;
		}
		.search
		{
			position: relative;
			height: 10%;
		}
		.searchbox,.searchbutton
		{
			height: auto;
			width: 100%;
		}
		.result1
		{
			background: cyan;
			position: relative;
			width: 100%;
			height: 30%;
		}
		.result2
		{
			background: cyan;
			position: relative;
			left: 0;
			width: 100%;
			text-align: center;
			min-height: 100px;
		}
		 #inb1
		{
			width: 100px;
			height: 20px;
			color: blue;
		}
		#input
		{
			text-align: center;
			width: 100%;
			height: 20px;
			border-width: 0;
		}
		#remove
		{
			width: 150px;
			height: 20px;
			font-weight: bolder;
			font-family: timesnewroman;
			background: #F70808;
			border-width: 0;
			border-radius: 5px;
		}
		td
		{
			border-width: 0;
			text-align: center;
		}
		#remove:hover
		{
			transform: scale(1.1);
			z-index: 2;
		}
		#table
		{
			width: 100%;
		}
		.box1
		{
			position: relative;
	   
			width: 100%;
			height: auto;
			background: #8D9989;
	
		}
		.inb
		{
			position: relative;
			top: 5px;
		}
		#submit,#reset
		{
			width: 110px;
			height: 30px;
			border-radius: 15px;
			border-width: 0;
			 font-weight: bolder;

		}
		#submit:hover,#reset:hover
		{
			transform: scale(1.1);
			z-index: 2;
			font-weight: bolder;
		}
		#submit
		{
			width: 110px;
			background-color: #08F60F;
		}
		#reset
		{
			background-color: #FD072C;
		}
		#full
		{
			color: #288B07;
		}
		#half
		{
			color: #0F0BF5;
		}
		#absent
		{
			color: red;
		}
		th
		{
			color: #E9E9F2;
			background-image: linear-gradient(-90deg,#7BBEEE,#F60C3E );
		}
		.container1
		{
			position: relative;
			top: 10%;
			width: 90%;
			padding: 10px;
			margin: 10px auto;
			background-image: linear-gradient(-90deg,#7D771C,#08C0F3 );
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		#button
		{
			background: #0FF2FA;
			border: 2px solid black;
			height: 40px;
		}
		#button:hover
		{
			transform: scale(1.1);
			z-index: 5;
			background: #0FFAB3;
		}
		#caption
		{
			position: relative;
			top: 5px;
			font-size: 20px;
		}
		#button1
		{

			background: #0FFA46;
			border: 2px solid blue;
			font-weight: bolder;
			font-family: timesnewroman;
			border-radius: 10px;
			height: 40px;
			width: 100px;
		}
		#button11
		{
			margin-top: 7px;
			margin-left: 5px;
			background: #0FFA46;
			border: 2px solid blue;
			font-weight: bolder;
			font-family: timesnewroman;
			border-radius: 10px;
			height: 40px;
			width: 100px;
		}
		#drop
		{
			height: 30px;
			width: 70px;
			margin: 5px;
		}
		#button1:hover,#button11:hover
		{
			transform: scale(1.1);
			z-index: 5;

		}
		.container .box input[type=text]
		{
			height: 35px;
			border: none;
			width: 250px;
			margin-top: 5px;
			position: relative;
			left: 0;
		}
		#my
{
	width: 100%;
	height: 35px;
	text-align: center;
	background-color: white;
	
}
#my1
{
	text-align: center;
}
.typeahead {
	background-color: white;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}